@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url('../fonts/Montserrat/Montserrat-ExtraLight.ttf');
  font-weight: 200;
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
  font-weight: 400;
}
.nav,
.wrapper:before {
  position: fixed;
  top: 3px;
  left: 50%;
  display: block;
  box-sizing: border-box;
  padding: 1em;
  width: 100%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
section {
  position: relative;
  padding: 1em;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  isolation: isolate;
}
.wrapper {
  clip: rect(auto auto auto auto);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.introduce {
  background-image: url(../img/my-foto.jpg);
  background-position: bottom;
}
@media (max-width: 1080px) {
  .introduce {
    background-image: none;
    background-color: #fff;
  }
}
.introduce .wrapper:before {
  background: #ff0000;
}
.skills-portfolio {
  background-image: url('../img/66.jpg');
  min-height: 98vh;
}
.skills-portfolio .wrapper:before {
  background: #faaa54;
  mix-blend-mode: difference;
}
.resume {
  background-image: url('../img/3.jpg');
  background-position: top;
  min-height: 81vh;
}
.resume .wrapper:before {
  background: #f36f16;
  mix-blend-mode: difference;
}
.wrapper:before {
  content: " ";
  padding-top: 8rem;
  mix-blend-mode: darken;
}
.nav {
  margin-top: 1rem;
  padding: 0;
  text-align: center;
  z-index: 1000;
  mix-blend-mode: lighten;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  padding: 0;
  margin: 0 auto;
}
.nav-bar li {
  padding: 4rem 0 1.3rem 0;
  height: 100%;
}
.nav-bar a {
  margin: 0 5px 0 5px;
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}
.nav-bar li a:hover {
  color: #ffb1fb;
}
.nav-bar li a:active {
  color: #ffffff;
}
/*MOBILE*/
@media (max-width: 1080px) {
  .nav-bar {
    visibility: hidden;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.85);
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 6rem;
    text-align: center;
    line-height: 2.5rem;
    padding: 1.5rem 0 1.5rem 0;
  }
  .mob-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 3rem;
    width: 3rem;
    padding: 0.9rem;
  }
  .mob-menu span {
    display: flex;
    background-color: #fff;
    height: 0.4rem;
    width: 100%;
    margin: 0.3rem 0 0.3rem 0;
  }
  .mob-menu:hover span {
    background-color: rgba(255, 255, 255, 0.8);
  }
  .mob-menu:active span {
    background-color: rgba(255, 255, 255, 0.6);
  }
  .nav {
    margin-top: 1.5rem;
    padding-top: 1.2rem;
    mix-blend-mode: normal;
  }
  .nav-bar li {
    padding: 0.2rem 0 0.2rem 0;
  }
  .nav-bar a {
    color: #fff;
    font-size: 1.5em;
  }
  .nav-bar li a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  .nav-bar li a:active {
    color: rgba(255, 255, 255, 0.6);
  }
}
/* SKILLS */
.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
.skill {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.skill:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2rem solid #9031fd;
  mix-blend-mode: difference;
  -webkit-box-shadow: 0 0 5px 2px #666666;
  box-shadow: 0 0 5px 2px #666666;
}
.skill:hover {
  -webkit-box-shadow: 0 0 5px 30px #f78f066c;
  box-shadow: 0 0 5px 30px #f78f066c;
}
.skill span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 4rem;
  width: 4rem;
  background-color: #fff;
  border-radius: 50%;
  font-family: "Montserrat-Regular";
  font-weight: bold;
  font-size: 1rem;
}
/* PORTFOLIO */
.portfolio-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 8rem;
  margin-bottom: 10%;
}
.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 100%;
}
.portfolio-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
  margin: 0.5rem;
  width: 600px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1px;
  transition-timing-function: linear;
  transition-duration: 0.2s;
}
.portfolio-img {
  display: flex;
  align-items: flex-end;
  width: 80%;
  height: 100%;
  background-color: rgba(233, 255, 36, 0.842);
  color: #fff;
  border-radius: 1px;
  mix-blend-mode: darken;
  transition-timing-function: linear;
  transition-duration: 0.2s;
}
.portfolio-img p {
  margin-left: 0.7rem;
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}
.lamb {
  background-image: url('../img/game-logo.png');
  background-size: cover;
}
.lamb p {
  align-self: center;
  margin: 0 auto;
  padding-left: 7rem;
  font-family: "Montserrat-Regular";
  font-weight: bold;
  color: #171a20;
}
.shop {
  background-image: url('../img/logo-shop.jpg');
  background-size: cover;
  background-position: top;
  background-color: #378cca;
  justify-content: flex-end;
}
.shop p {
  margin-bottom: 3rem;
}
.portfolio-text-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  width: 20%;
  transition-timing-function: linear;
  transition-duration: 0.2s;
}
.portfolio-text-wrapper div {
  margin-bottom: 1.5rem;
}
.portfolio-h2 {
  margin: 0 0 1rem 0;
  color: #171a20;
}
.portfolio-p {
  margin: 0;
  line-height: 0;
  font-size: 0.2rem;
  visibility: hidden;
}
div .button {
  position: absolute;
  bottom: 1rem;
}
.button {
  display: flex;
  justify-content: center;
  width: 7rem;
  border: none;
  border-radius: 3px;
  color: #fff;
  line-height: 2rem;
  text-decoration: none;
  background-color: #ff0000;
  background: linear-gradient(to bottom, #282d38 5%, #282d38 100%) repeat scroll 0 0 #282d38;
}
.portfolio-item:hover .portfolio-text-wrapper {
  background-color: rgba(255, 255, 255, 0.856);
  width: 80%;
}
.portfolio-item:hover .portfolio-img {
  width: 20%;
  align-items: flex-end;
}
.portfolio-item:hover .lamb p {
  color: #171a20;
  font-weight: bold;
  align-self: flex-end;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 0;
}
.portfolio-item:hover .shop p {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.portfolio-item:hover .portfolio-p {
  visibility: visible;
  line-height: 1.5rem;
  font-size: 1rem;
}
.portfolio-item:hover .button {
  background: linear-gradient(to bottom, #ff3131 5%, #da0000 100%) repeat scroll 0 0 #da0000;
}
.portfolio-item:hover .portfolio-h2 {
  margin: 0 0 1rem 0;
  color: #ff0000;
}
.portfolio-item:hover .button:hover {
  background: linear-gradient(to bottom, #ff4747 5%, #ff3131 100%) repeat scroll 0 0 #da0000;
}
.portfolio-item:hover .button:active {
  background: linear-gradient(to bottom, #ff3131 5%, #da0000 100%) repeat scroll 0 0 #da0000;
}
@media (max-width: 1080px) {
  .portfolio-wrapper {
    margin: 0;
    margin-top: 5rem;
  }
  .skills {
    margin-top: 0;
  }
  .skill {
    margin: 1rem;
  }
  .skill:before {
    border: 0.5rem solid #9031fd;
  }
  .skill:hover {
    -webkit-box-shadow: 0 0 5px 9px #f78f066c;
    box-shadow: 0 0 5px 9px #f78f066c;
  }
  .portfolio {
    margin-top: 0;
  }
  .portfolio-item {
    margin: 0.5rem;
    width: 480px;
    height: 280px;
  }
  .portfolio-img {
    width: 20%;
  }
  .portfolio-img p {
    visibility: hidden;
    font-size: 0.1rem;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  .portfolio-text-wrapper {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .portfolio-text-wrapper div {
    margin-bottom: 1rem;
    width: 100%;
  }
  .portfolio-h2 {
    color: #ff0000;
    margin-bottom: 0.3rem;
  }
  .portfolio-p {
    line-height: 1.1rem;
    font-size: 0.9rem;
    visibility: visible;
  }
  .button {
    background: linear-gradient(to bottom, #ff3131 5%, #da0000 100%) repeat scroll 0 0 #da0000;
  }
  .portfolio-item:hover .portfolio-h2 {
    margin-bottom: 0.3rem;
  }
  .portfolio-item:hover .portfolio-p {
    line-height: 1.1rem;
    font-size: 0.9rem;
  }
  .portfolio-item:hover .portfolio-text-wrapper {
    background-color: rgba(255, 255, 255, 0.9);
  }
}
@media (max-width: 400px) {
  .portfolio-item {
    margin: 0.5rem;
    width: 480px;
    min-height: 250px;
    height: 100%;
  }
  .portfolio-img {
    width: 0%;
  }
  .portfolio-img :hover {
    width: 0%;
  }
  .portfolio-text-wrapper {
    width: 100%;
  }
  .portfolio-p {
    line-height: 1.2rem;
    font-size: 0.9rem;
    visibility: visible;
  }
  .portfolio-item:hover .portfolio-p {
    line-height: 1.2rem;
    font-size: 0.9rem;
  }
  .portfolio-item:hover .portfolio-text-wrapper {
    width: 100%;
  }
  .portfolio-item:hover .portfolio-img {
    width: 0%;
  }
}
* {
  font-family: "Montserrat-ExtraLight";
  font-weight: bold;
}
h1 {
  margin: 1.2rem;
  font-size: 4rem;
  color: #ff0000;
}
h2 {
  margin: 1rem;
  font-size: 1.5rem;
  color: #ff0000;
}
p {
  margin: 1rem;
  line-height: 2rem;
  color: #171a20;
}
@media (max-width: 1280px) {
  h1 {
    margin-top: 0;
    font-size: 3rem;
  }
  h2 {
    font-size: 1.3rem;
    margin-bottom: 0;
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
    line-height: 1.9rem;
  }
}
@media (max-width: 1080px) {
  h1 {
    font-size: 2.1rem;
    align-self: center;
  }
  h2 {
    margin-bottom: 1rem;
    align-self: center;
    font-size: 1.5rem;
  }
  p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media (max-width: 400px) {
  h1 {
    font-size: 1.8rem;
    margin-bottom: 0;
  }
  h2 {
    font-size: 1.3rem;
  }
}
/* INTRODUCE */
.introduce-foto {
  visibility: hidden;
  width: 0.1px;
  margin: 0;
}
@media (max-width: 1080px) {
  .introduce-foto {
    visibility: visible;
    width: 320px;
    margin-top: 1rem;
    align-self: center;
  }
}
.introduce {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.introduce-wrapper {
  margin: 5rem 5rem 0 0;
  width: 700px;
}
@media (max-width: 1280px) {
  .introduce-wrapper {
    margin-right: 0;
    width: 600px;
  }
}
@media (max-width: 1080px) {
  .introduce-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0;
    margin-top: 4.5rem;
  }
}
.introduce-txt {
  margin: 2rem 0 5rem 0;
}
@media (max-width: 1280px) {
  .introduce-txt {
    margin: 0.5rem 0 0 0;
  }
}
@media (max-width: 1080px) {
  .introduce-txt {
    margin: 0;
    width: 100%;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
  }
}
/* RESUME */
.resume-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
}
@media (max-width: 1280px) {
  .resume-wrapper {
    background-color: rgba(255, 255, 255, 0.7);
    height: 100%;
  }
}
@media (max-width: 1080px) {
  .resume-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    height: 87%;
    margin-top: 5rem;
    padding: 1rem 1rem 0 1rem;
  }
}
@media (max-width: 420px) {
  .resume-wrapper {
    height: initial;
    padding: 1rem 1rem 0 1rem;
  }
}
@media (max-width: 400px) {
  .resume-wrapper h2 {
    margin: 0;
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 1080px) {
  .resume-item p {
    margin: 0;
  }
}
@media (max-width: 400px) {
  .resume-item p {
    margin: 0;
    margin-bottom: 0.7rem;
  }
}
/* FOOTER */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ff0000;
  color: #fff;
}
footer span {
  margin: 0 1rem 0 1rem;
}
@media (max-width: 1080px) {
  footer span {
    visibility: hidden;
  }
}
@media (max-width: 1080px) {
  footer {
    flex-direction: column;
    padding: 1.5rem;
  }
}
.footer-link {
  outline: none;
  text-decoration: none;
}
.footer-link :hover {
  color: rgba(255, 255, 255, 0.5);
}
.footer-link :active {
  color: rgba(255, 255, 255, 0.2);
}
.footer-txt {
  color: #fff;
  font-size: 1.2rem;
  line-height: 2.5rem;
}
@media (max-width: 1080px) {
  .footer-txt {
    font-size: 1.2rem;
    line-height: 1rem;
  }
}
